version: '3.5'

services:
  nginx:
    container_name: nginx
    image: learn:nginx
    ports:
      - 250:80
    volumes:
      - ./public:/appdata/www/public
    depends_on:
      - php
    networks:
      - learn-network

  php:
    container_name: php
    image: learn:php746
    environment:
      PHP_IDE_CONFIG: serverName=Docker
      PHP_XDEBUG_ENABLED: 1
      XDEBUG_CONFIG: remote_host=172.17.0.1 remote_port=9005
    volumes:
      - ./:/appdata/www
      - ./../docker/php746/xdebug-linux.ini:/usr/local/etc/php/conf.d/xdebug.ini
      - ~/.ssh/id_rsa:/home/appuser/.ssh/id_rsa
    depends_on:
      - symfony-api-platform-db
    networks:
      - learn-network

networks:
  learn-network:
    external: true
